/* COMMON STYLES: YOU DON'T NEED THEM */
body {
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #1f1f1f;
}
body .container {
  width: 960px;
  margin: 70px auto 0px;
  text-align: center;
}
body .container > a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
}
body .container > a:nth-child(2):after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #FD5200;
  border-radius: 20px;
  margin: 0px 10px 0px 15px;
  position: relative;
  top: -2px;
}
body h1 {
  font-weight: 400;
  font-size: 35px;
}
body h1 span {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #FD5200;
  position: relative;
}
body h1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border: 2px solid #FD5200;
  border-radius: 20px;
  margin: auto;
}

.spinners-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}
.spinners-container .spinner-block {
  width: 125px;
  text-align: center;
  margin-right: 83px;
}
.spinners-container .spinner-block:nth-child(5n) {
  margin-right: 0px;
}
.spinners-container .spinner-block h2 {
  margin: 0px 0px 20px 0px;
}

/* YOU NEED THESE STYLES */
/* spinner style */
.spinner-vol-2 {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner-vol-2:before, .spinner-vol-2:after {
  content: "";
  display: block;
}

/* spinner-1 styles */
@-webkit-keyframes rotate {
  0% {
    border-top-color: #47A8BD;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    border-top-color: #47A8BD;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  45% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: transparent;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  90% {
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    border-top-color: #47A8BD;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    border-top-color: #47A8BD;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: #47A8BD;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  45% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: #47A8BD;
    border-right-color: transparent;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    border-top-color: transparent;
    border-left-color: #47A8BD;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  90% {
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spinner-vol-2.spinner-vol-2-1:before {
  width: 100px;
  height: 100px;
  border: 25px solid #47A8BD;
  border-radius: 150px;
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  box-sizing: border-box;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: rotate 1.5s ease-out 0s infinite alternate;
          animation: rotate 1.5s ease-out 0s infinite alternate;
}
.spinner-vol-2.spinner-vol-2-1:after {
  width: 80px;
  height: 80px;
  background-color: #47A8BD;
  border-radius: 150px;
  position: absolute;
  top: 22.5px;
  left: 22.5px;
  background-color: #fff;
}
