/* COMMON STYLES: YOU DON'T NEED THEM */
body {
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #1f1f1f;
}
body .container {
  width: 960px;
  margin: 70px auto 0px;
  text-align: center;
}
body .container > a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
}
body .container > a:nth-child(2):after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #FD5200;
  border-radius: 20px;
  margin: 0px 10px 0px 15px;
  position: relative;
  top: -2px;
}
body h1 {
  font-weight: 400;
  font-size: 35px;
}
body h1 span {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #FD5200;
  position: relative;
}
body h1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border: 2px solid #FD5200;
  border-radius: 20px;
  margin: auto;
}

.spinners-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}
.spinners-container .spinner-block {
  width: 125px;
  text-align: center;
  margin-right: 83px;
}
.spinners-container .spinner-block:nth-child(5n) {
  margin-right: 0px;
}
.spinners-container .spinner-block h2 {
  margin: 0px 0px 20px 0px;
}

/* YOU NEED THESE STYLES */
/* spinner style */
.spinner-vol-2 {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner-vol-2:before, .spinner-vol-2:after {
  content: "";
  display: block;
}
.spinner-vol-2 .spinner-bar:before, .spinner-vol-2 .spinner-bar:after {
  content: "";
  display: block;
}

/* spinner-1 styles */
