//variables
$bg-color: #fff; //container background-color;
$accent-font-color: #FD5200; //accent font color;
$spinner-dimensions: 125px; //width and height of spinner 
$spinner-1-bg: #47A8BD; //spinner-1 background-color

//mixins

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/* COMMON STYLES: YOU DON'T NEED THEM */
body {
  background-color: $bg-color;
  font: {
      family: 'Fira Sans', sans-serif;
      weight: 400;
    }
  color: #1f1f1f;
  
  .container {
    width: 960px;
    margin: 70px auto 0px;
    text-align: center;
    
    & > a {
      text-decoration: none;
      color: #1f1f1f;
      font: {
        size: 20px;
      }
      
      &:nth-child(2) {
        
        &:after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 5px;
          border: 2px solid $accent-font-color;
          border-radius: 20px;
          margin: 0px 10px 0px 15px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
  
  h1 {
    font: {
      weight: 400;
      size: 35px;
    }
    
    span {
      font: {
        family: 'Josefin Sans', sans-serif;
      }
      text-transform: uppercase;
      color: $accent-font-color;
      position: relative;
      
      &:before {
        content: "";
        display: block;
        @include position-absolute($top: 0, $left: 0, $right: 0);
        width: 5px;
        height: 5px;
        border: 2px solid $accent-font-color;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
}

.spinners-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
  
  .spinner-block {
    width: $spinner-dimensions;
    text-align: center;
    margin-right: 83px;
      
    &:nth-child(5n) {
      margin-right: 0px;
    }
    
    h2 {
      margin: 0px 0px 20px 0px;
    }
  }
}

/* YOU NEED THESE STYLES */

/* spinner style */
.spinner-vol-2 {
  position: relative;
  width: $spinner-dimensions;
  height: $spinner-dimensions;
  
  &:before,
  &:after {
    content: "";
    display: block;
  }
}

/* spinner-1 styles */
.spinner-vol-2.spinner-vol-2-1 {
  
  $element-dimensions: 100px; //spinner elements width and height
  $big-step: ($spinner-dimensions - $element-dimensions)/2; //top and left offset from spinner borders of bigger element
  $step: 20px; //difference between big and small elements' sizes
  $small-step: $big-step + $step/2; //top and left offset of smaller element
  
  @keyframes rotate {
    
    0% {
      border-top-color: $spinner-1-bg;
      border-left-color: $spinner-1-bg;
      border-bottom-color: $spinner-1-bg;
      border-right-color: $spinner-1-bg;
      transform: rotate(0deg);
    }
    
    15% {
      border-top-color: $spinner-1-bg;
      border-left-color: $spinner-1-bg;
      border-bottom-color: $spinner-1-bg;
      border-right-color: $spinner-1-bg;
      transform: rotate(0deg);
    }
    
    30% {
      border-top-color: transparent;
      border-left-color: $spinner-1-bg;
      border-bottom-color: $spinner-1-bg;
      border-right-color: $spinner-1-bg;
      transform: rotate(90deg);
    }
    
    45% {
      border-top-color: transparent;
      border-left-color: $spinner-1-bg;
      border-bottom-color: $spinner-1-bg;
      border-right-color: transparent;
      transform: rotate(180deg);
    }
    
    60% {
      border-top-color: transparent;
      border-left-color: $spinner-1-bg;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(270deg);
    }
    
    90% {
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(360deg);
    }
    
    100% {
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(360deg);
    }
  }
  
  &:before {
    width: $element-dimensions;
    height: $element-dimensions;
    border: $element-dimensions/4 solid $spinner-1-bg;
    border-radius: 150px;
    @include position-absolute($top: $big-step, $left: $big-step);
    box-sizing: border-box;
    transform: rotate(0deg);
    animation: rotate 1.5s ease-out 0s infinite alternate;
  }
  
  &:after {
    width: $element-dimensions - $step;
    height: $element-dimensions - $step;
    background-color: $spinner-1-bg;
    border-radius: 150px;
    @include position-absolute($top: $small-step, $left: $small-step);
    background-color: $bg-color;
  }
  
}