//variables
$bg-color: #fff; //container background-color;
$accent-font-color: #FD5200; //accent font color;

//mixins

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/* COMMON STYLES: YOU DON'T NEED THEM */
body {
  background-color: $bg-color;
  font: {
      family: 'Fira Sans', sans-serif;
      weight: 400;
    }
  color: #1f1f1f;
  
  .container {
    width: 700px;
    margin: 70px auto 0px;
    text-align: center;
    
    & > a {
      text-decoration: none;
      color: #1f1f1f;
      font: {
        size: 20px;
      }
      
      &:nth-child(2) {
        
        &:after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 5px;
          border: 2px solid $accent-font-color;
          border-radius: 20px;
          margin: 0px 10px 0px 15px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
  
  h1 {
    font: {
      weight: 400;
      size: 35px;
    }
    
    span {
      font: {
        family: 'Josefin Sans', sans-serif;
      }
      text-transform: uppercase;
      color: $accent-font-color;
      position: relative;
      
      &:before {
        content: "";
        display: block;
        @include position-absolute($top: 0, $left: 0, $right: 0);
        width: 5px;
        height: 5px;
        border: 2px solid $accent-font-color;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
}